head
  title greenfield
body
  h1 Welcome to the Greenfield Zoo!
  +zoo
    
template(name='hello')
  button Click Me
  p You've pressed the button #{counter} times.
  
template(name='zoo')
  button#b2 info
  button#btn_local start local game
  button#btn_start
    if running
      | Stop
    else
      | Start
    | server game
  ul
    li right click to add animals
    li left click if you see them turning red from hunger
    li middle click to kick them out of the zoo
  canvas#canvas(width="500" height="300" style="background-color: rgb(0, 140, 0);")