head
  title greenfield
body
  h1 Welcome to the Greenfield Zoo!
  +zoo
    
template(name='hello')
  button Click Me
  p You've pressed the button #{counter} times.
  
template(name='zoo')
  canvas#canvas(width="500" height="300" style="background-color: rgb(0, 140, 0);")